// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-float-breakpoint: 992px;

// Colors
$brand-primary:         #ED1E4E;

$color1: #ED1E4E;
$color2: #f14b71;
$color3: #C4C4C4;
$color4: #CDCDCD;
$color5: #000000;
$color6: #000000;
$color7: #000000;


$primary-font: 'georgia, times, serif';
$secondary-font: 'georgia, times, serif';
// $thin-font: 'PT Sans',"Helvetica","Arial","sans-serif";

$play-icon: '';
$facebook-icon: '';
$twitter-icon: '';
